/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. You can learn more about the 
NativeScript core theme at https://github.com/nativescript/theme
The imported CSS rules must precede all other types of rules.
*/
@import "~@nativescript/theme/css/core.css";
/* @import "~@nativescript/theme/css/default.css"; */

/* Place any CSS rules you want to apply on both iOS and Android here.
This is where the vast majority of your CSS code goes. */

/*
The following CSS rule changes the font size of all Buttons that have the
"-primary" class modifier.
*/
.ns-root {
    --main-colour: #1b570c;
    --border-radius: 5;
    --border-width: 0.7;
}

Button.-primary {
    font-size: 18;

}

TextField.-primary {
    font-size: 18;
    background-color: var(--main-colour);
    border-width: var(--border-width);
    border-radius: var(--border-radius);
    border-color: black;
    padding-left: 5;
}

.checkBox {
    background-color: var(--main-colour);
    font-size: 25;
    width: 200px;
    height: 200px;
    margin: 0;
}

.addButton {
    background-color: var(--main-colour);
    font-size: 35;
    width: 200px;
    height: 200px;
    border-radius: 100%;
}

.mainLabel {
    font-size: 20;
}
.title {
    font-size: 30;
    text-align: center;
    background-color: var(--main-colour);
}

.secLabel {
    font-size: 13;
    padding: 0;
}


.datePicker {
    background-color: var(--main-colour);
    border-color: black;
    border-width: var(--border-width);
    border-radius: var(--border-radius);
    color: whitesmoke;
    vertical-align: middle;
    margin-left: 15;
    margin-right: 15;
}

.typeSelectorButton {
    font-size: 12;
    background-color: gainsboro;
    border-width: var(--border-width);
    border-color: black;
    border-radius: var(--border-radius);
}

.typeSelectorButtonPressed {
    font-size: 12;
    background-color: var(--main-colour);
    border-width: var(--border-width);
    border-color: black;
    border-radius: var(--border-radius);
}